# Directories with binaries
tests/
.idea/
.vscode/
csv-editor.xml
build/
zedtool.egg-info/
docs/build/
docs/source/README.md
docs/source/tutorial.md
docs/source/images/*sh
# Python compiled files
*.pyc
__pycache__/
src/zedtool/__pycache__/
docs/todo.md
