---
# Experiment-specific elements. Customise for each experiment by replacing variables with the appropriate values.
detections_file: /your/path/to/input.csv # input file with detections
output_dir: /your/path/to/output # all output files will be saved under this directory

# Number of frames, z-steps, cycles, time-points to expect in the data
frame_range: 0-199 # frames per z-step
z_step_range: 0-60 # z-steps per cycle
cycle_range: 0-4 # cycles per time-point
time_point_range: 0-0 # time-points per experiment
z_step_step: -100 # step size in nm for one step in the z-direction

bin_resolution: 20 # bin size in nm for binned image
debug: 0 # Potentially controls verbosity and plot output.
noclobber: 1 # If 1, will not overwrite cached intermediate results
make_caches: 1 # if 1 then save the detections to a binary file for faster subsequent loading
multiprocessing: 1 # if 1 then use multiprocessing to speed up the computation
num_threads: # number of threads to use for multiprocessing; if empty, then use all available threads
float_format: "%.6g" # printf-style format for floating point numbers in outputs files
output_column_names: # Comma separated list of columns to output. If empty, uses the columns in the input file.

# Detection filtering - based on either density in the binned image or columns in the detections file
n_min_cutoff: 1 # remove detections based on their density in the binned x,y image
n_max_cutoff: 10000000000
mask_dimensions: 2 # dimensions used for masking detections in binned image (2 or 3)
select_cols: x,y,precisionz # comma separated list of selection criteria for ranges
select_ranges: 30000-40000,30000-40000,0-100 # comma separated list of ranges

# Deconvolution parameters
decon_min_cluster_sd: 10 # Minimum standard deviation of clusters to be considered for deconvolution.
decon_sd_shrink_ratio: 0.25 # Ratio of final/initial standard deviation of clusters following deconvolution.
decon_bin_threshold: 50 # Minimum x-y bin threshold to be considered for deconvolution.
decon_kmeans_max_k: 5 # Maximum number of clusters in z to be considered for deconvolution.
decon_kmeans_proximity_threshold: 2 # Clusters closer than (SD1+SD2)*proximity_threshold are merged.
decon_kmeans_min_cluster_detections: 5 # Minimum number of detections in a cluster to be considered for deconvolution.

# Column names specific to the input file format
# The ones below are for Bruker's SRX software
frame_col: frame # frame number within the cycle
image_id_col: image-ID # frame number within the experiment
z_step_col: z-step
cycle_col: cycle
time_point_col: time-point
x_col: x
y_col: y
z_col: z
x_sd_col: precisionx
y_sd_col: precisiony
z_sd_col: precisionz
photons_col: photon-count
chisq_col: chisq # chi-squared value of the fit - currently not used
deltaz_col: deltaz # distance of detection z from focal plane
log_likelihood_col: log-likelihood # log likelihood of the fit - currently not used but could be in the future:
llr_col: llr # log likelihood ratio of the fit - currently not used
probe_col: vis-probe # probe ID when more than one channel is present

# Constants used for segmenting, filtering and fitting to fiducials
excluded_fiducials: # comma separated list of fiducials to exclude
included_fiducials: # comma separated list of fiducials to include (use ONLY these)
median_filter_disc_radius: 1 # for filtering out speckles in the binned image
filling_disc_radius: 10 # hole filling in thresholded binned image
dilation_disc_radius: 10 # dilation of thresholded binned image to catch "wandering" fiducials
min_fiducial_size: 100 # min pixels in a fiducial
min_fiducial_detections: 10 # minimum number of detections in a fiducial; if only_fiducials==1 then this is also the segmentation threshold
max_detections_per_image: 1.1 # maximum number of detections per fiducial per image
quantile_outlier_cutoff: 0 # throws away tails of several distributions for fiducial qc metrics (typically = 0.01-0.05)
sd_outlier_cutoff: 0 # standard deviation outlier cutoff for fiducial qc metrics; overrides quantile method. (typically = 2)
filter_fiducials_with_clustering: 0 # if 1, then use pre-drift correction clustering to filter fiducials
polynomial_degree: 2 # degree of polynomial to fit drift correction
use_weights_in_fit: 0 # use the precision values in the fit
only_fiducials: 0 # non-zero if ALL the "bright spots" in the binned image are taken to be fiducials. If 0, Otsu threshold image otherwise use min_fiducial_detections
consensus_method: median # method to compute drift correction from fiducials - median or weighted_mean

# Files used when combining experiments
# concatenate_offset_file contains one row with the offsets to add.
# Aside from image_id_col, time_point_col and x_col,y_col,z_col cols all values should be zero.
# image_id_col, time_point_col are used to make the corresponding columns in the output file consistent
# x_col,y_col,z_col are the spatial offsets _added_ to the detections in the concatenate_detections_file
concatenate_detections_file: /your/path/to/experiment.csv # file to concatenate with the current experiment
concatenate_offset_file: /your/path/to/offsets.csv # offsets to apply to the detections in the concatenate_detections_file

# Select what to save, compute and plot by setting the following to 0 or 1
concatenate_detections: 0 # concatenate all detections from concatenate_detections_file using offsets from concatenate_offset_file
apply_drift_correction: 0 # apply pre-made drift correction read from drift_correction_file to detections
plot_detections: 0 # plot all detections as images - binned in x-y and projected in all three dimensions
mask_on_density: 0 # remove detections based on density in the binned image.
make_quality_metrics: 0 # compute quality metrics for fiducials - before and after z-step and drift correction
plot_fiducial_correlations: 0 # plot correlations between fiducials
plot_fiducials: 0 # plot the fiducials prior to correction
plot_summary_stats: 0 # plots summary statistics for all detections
plot_time_point_metrics: 0 # plot time-point metrics of drift correction for fiducials
plot_per_fiducial_fitting: 0 # make debugging images about extracting drift correction from fiducials
zstep_correct_fiducials: 0  # correct z co-ordinate of fiducial detections for z-step variation
drift_correct_detections: 0 # drift correct all detections based on fiducials. Writes out drift correction file and corrected detections
drift_correct_detections_multi_pass: 0 # if 1, then use multiple pass method to correct the drift
deltaz_correct_detections: 0 # correct z co-ordinate of all detections for deltaz variation
deconvolve_z: 0 # deconvolve z from the detections
save_non_fiducial_detections: 0 # save non-fiducial detections to a separate file
